/* .FullCard *{
    border-top: 1px solid black;
} */

.FullCard {
  width: 80%;
  margin: 15px auto 30px auto;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .FullCard .hr {
  border-top: 3px solid #dee5eb;
  border-radius: 4px;
  width: 100%;
  margin: 0 0 20px 0;
} */

.FullCard .mainDiv .title {
  font-size: 2.6rem;
  max-height: 80px;
  overflow-wrap: break-word;
}

.FullCard .description {
  font-size: 2rem;
  text-align: left;
  width: 30%;
  background-color: white;
  padding: 20px;
  /* height:200px; */
  align-self: flex-end;
  box-sizing: border-box;
  color: black;
}
.FullCard .descriptionText {
  overflow-y: scroll;
  overflow-wrap: break-word;
  height: 150px;
}
.description p {
  text-align: center;
  color: black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  font-family: "CustomFonts", Arial, Helvetica, sans-serif;
}

.FullCard .lotInfo {
  width: 30%;
  height: 238px;
  background-color: white;
  align-self: flex-end;
  padding: 20px;
  color: black;
  font-family: "CustomFonts", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.FullCard .lotInfo .title {
  width: 100%;
  text-align: center;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  text-transform: uppercase;
}
.FullCard .price {
  font-size: 4rem;
  text-align: center;
  margin-top:20px;
}
.FullCard .mainDiv {
  width: 44%;
}
.FullCard .gallery {
  background-image: url("../../assets/blankImg.png");
  background-size: cover;
  width: 30%;
  margin: 0;
  min-height: 400px;
}
.FullCard .carousel-root {
  margin: auto;
  margin-top: 110px;
  width: 80%;
}
.FullCard .thumbs {
  margin-left: auto;
}
.FullCard .mainDiv .mainBtn {
  padding-left: 40px;
  padding-right: 40px;
  height: 60px;
  min-width: 50px;
  border: 1px solid rgb(58, 55, 55);
  border-radius: 30px;
  font-size: 2rem;
  background-color: #111111;
  color: #fff1f1;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.FullCard .mainDiv .inActive {
  background-color: #717171;
  border-color: #717171;
}
.FullCard .GroupAndAmount {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.FullCard .similarLots {
  width: 100%;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.FullCard .buttons{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content:space-evenly;
}
.FullCard .mainBtn{
  height: 60px;
  width: 180px;
  border:none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.9rem;
  background-color: #9c7c63;
  color: #fff1f1;
  font-weight:900;
  display: block;
}

.selected div{
  border: 3px solid black
}
/* POPUP  */

.calculatedAmount {
  border: 1px solid rgb(58, 55, 55);
  border-radius: 30px;
  font-size: 2rem;
  color: #204660;
  width: 280px;
  height: 40px;
}

.buyInf {
  color: #fff1f1;
  font-size: 2rem;
}

.PopupSubmitBtn {
  height: 40px;
  border: 1px solid rgb(58, 55, 55);
  border-radius: 30px;
  font-size: 2rem;
  background-color: #111111;
  color: #fff1f1;
  padding: 5px 30px;
  margin-left: 25px;
}

.Popup2-content {
  margin: auto;
  background: rgb(56, 56, 56);
  width: 200px;
  padding: 15px;
  border-radius: 10px;
  color: #fff1f1;
}
.Popup2-arrow {
  color: rgb(56, 56, 56);
}
