/* .FullCard *{
    border-top: 1px solid black;
} */

.FullCard {
  width: 80%;
  border: 1px solid #204660;
  border-radius: 10px;
  margin: 15px auto 30px auto;
  background-color: #f0f1ef;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.FullCard .hr {
  border-top: 1px solid #204660;
  width: 100%;
  margin: 0 0 20px 0;
}

.FullCard .mainDiv .title {
  font-size: 2.6rem;
  max-height: 80px;
  overflow-wrap: break-word;
}

.FullCard .description {
  font-size: 2rem;
  text-align: left;
  width: 100%;
}

.FullCard .mainDiv .price {
  font-size: 2rem;
}

.FullCard .mainDiv {
  width: 44%;
}

.FullCard .mainDiv .mainBtn {
  padding-left: 40px;
  padding-right: 40px;
  height: 60px;
  min-width: 50px;
  border: 1px solid rgb(58, 55, 55);
  border-radius: 30px;
  font-size: 2rem;
  background-color: #111111;
  color: #fff1f1;
  margin-bottom: 30px;
}

.FullCard .GroupAndAmount {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.FullCard .similarLots {
  width: 100%;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* POPUP  */

.calculatedAmount {
  border: 1px solid rgb(58, 55, 55);
  border-radius: 30px;
  font-size: 2rem;
  color: #204660;
  width: 280px;
  height: 40px;
}

.buyInf {
  color: #fff1f1;
  font-size: 2rem;
}

.PopupSubmitBtn {
  height: 40px;
  border: 1px solid rgb(58, 55, 55);
  border-radius: 30px;
  font-size: 2rem;
  background-color: #111111;
  color: #fff1f1;
  padding: 5px 30px;
  margin-left: 25px;
}
