.MainPage {
    width: 80%;
    border: 1px solid #204660;
    border-radius: 10px;
    margin: 15px auto 30px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(231, 238, 238);
}

.Good{
    margin: 15px auto 15px auto;
}