.CardAdder {
  width: 80%;
  border: 1px solid #204660;
  border-radius: 10px;
  margin: 15px auto 30px auto;
  background-color: #f0f1ef;
  padding: 30px;
}

.CardAdder .mainDiv span {
  width: 44%;
}

.CardAdder .mainDiv {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.CardAdder .gallery {
  display: block;
  margin-left: 20px;
  width: 44%;
  box-shadow: 5px #204660;
}
.CardAdder input {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 10px;
}

.CardAdder textarea {
  border: 2px solid #204660;
  width: 100%;
  height: 60%;
  font-size: 1.5rem;
  border-radius: 10px;
  min-width: 20%;
  max-width: 500px;
  min-height: 50px;
  max-height: 80%;
  display: block;
}

.CardAdder span:first-child {
  margin: 0 auto 0 20px;
}

.CardAdder span:last-child {
  margin: 0 20px 0 auto;
}

.CardAdder div:first-child span:last-child input:first-child {
  margin-bottom: 10px;
}
.CardAdder div:first-child span:last-child input:last-child {
  height: 80%;
  width: 100%;
}

.CardAdder .mainButton {
  margin: 25px 60px 25px 25px;
  padding-left: 40px;
  padding-right: 40px;
  height: 50px;
  min-width: 50px;
  border: 1px solid rgb(58, 55, 55);
  border-radius: 30px;
  font-size: 1.5rem;
  background-color: #111111;
  color: #fff1f1;
  margin: 15px 0 0 auto;
  display: block;
}

.CardAdder .mainButton:disabled{
  background-color: #717171;
}

.CardAdder .xButton {
  border: 1px solid rgb(58, 55, 55);
  border-radius: 30px;
  font-size: 1.5rem;
  background-color: #111111;
  color: #fff1f1;
  padding: 4px 10px 4px 10px;
  position: absolute;
  right:6%;
  z-index: 1;
  top:5%;
}

.CardAdder .xButton:hover {
  background-color: #424141;
}

.CardAdder .isGalleryEmpty {
  display: none;
}

.CardAdder img {
  width: 100%;
}

.is-invalid:focus {
  outline: none;
  box-shadow: 0 0 4px 0 rgb(173, 41, 41);
  border: rgb(241, 139, 139);
}

.CardAdder .hashtagHolder{
  display: flex;
  flex-wrap: wrap;
}

.CardAdder .hashtag{
  background-color: #aba8a8;
  text-align: left;
  margin: 2px 2px 2px 2px;
  border-radius: 13px;
  border: 1 solid #204660;
  width: fit-content;
  height: fit-content;
  padding: 5px;
}

.CardAdder .xButton_2{
  border: 1px solid rgb(58, 55, 55);
  border-radius: 7px;
  background-color: #111111;
  color: #fff1f1;
  padding: 0px 5px 3px 5px;
  margin: 2px 2px 2px 3px;
}
.CardAdder .xButton_2:hover {
  background-color: #424141;
}