.RegistrationPage {
  height: 540px;
  width: 480px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(231, 238, 238, 0);
  background-image: url("./blankImg.png");
  background-size: cover;
}

.RegistrationPage .inputs{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:space-between;
  width:100%;
  height: 300px;
  margin-top: 20px;
}


.RegistrationPage input {
  width: 100%;
  padding-left: 10px;
  /* margin-top: 5px; */
  height: 60px;
  font-size: 2rem;
  border:none;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#9c7c63;
  color: #ffff;
}
.RegistrationPage input::placeholder{
  color: #ffff;
}
.RegistrationPage #registerButton {
  height: 60px;
  width: 200px;
  border:none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  background-color: #9c7c63;
  color: #fff1f1;
  font-weight:900;
  margin:0 auto;
  display: block;
}
.RegistrationPage .buttons {
  width: 100%;
}
.RegistrationPage .roleSelect{
  display: flex;
  width:fit-content;
  margin: 0 auto;
  margin-top: 20px;
  align-items: center;
}
.RegistrationPage .arrow{
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color:black;
  font-size: 3rem;
  font-weight: bold;
  font-family: "CustomFonts",Arial, Helvetica, sans-serif;
}

.RegistrationPage .role{
  font-size: 3rem;
  font-weight: bold;
  font-family: "CustomFonts",Arial, Helvetica, sans-serif;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}
.RegistrationPage select {
  margin-top: 5px;
  height: 40px;
  width: 250px;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  display: none;
  text-align: center;
}

.is-invalid:focus {
  outline: none;
  box-shadow: 0 0 4px 0 rgb(173, 41, 41);
  border: rgb(241, 139, 139);
}

@media screen and (max-width: 576px) {
  .RegistrationPage {
      width:300px;
      height:550px;
      margin-top:50px;  
      padding-top: 60px;
  }

  .loginPage button {
      font-size: 1.5rem;
  }
  .loginPage .inputs{
      margin-top:40px;
  }
}