.ConsumerLots {
    width: 80%;
    margin: 15px auto 30px auto;
}

.ConsumerLots .mainBtn {
    height: 50px;
    width: 150px;
    border-left: 8px solid #626262;
    border-top: none;
    border-bottom: none;
    border-right: none;
    font-size: 2rem;
    font-weight: bold;
    font-family: "CustomFonts", Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #9c7c63;
    transform: skewX(-45deg);
}

.ConsumerLots .divConsumerLots {
    cursor: default;
    margin-left: 50px;
    height: 50px;
    width: 200px;
    border-left: 8px solid #626262;
    border-top: none;
    border-bottom: none;
    border-right: none;
    font-size: 2rem;
    font-weight: bold;
    font-family: "CustomFonts", Arial, Helvetica, sans-serif;
    background-color: #d8d8d8;
    color: #9c7c63;
    transform: skewX(-45deg);
}

.divConsumerLots>div {
    transform: skewX(45deg);
}

.ConsumerLots .mainBtn:hover {
    background-color: #fbdd7e;
}

.ConsumerLots .btnHolder {
    display: flex;
    width: fit-content;
}

@media screen and (max-width: 992px) {
    .ConsumerLots {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .ConsumerLots {
        width: 95%;
    }
}

@media screen and (max-width: 576px) {
    .ConsumerLots {
        width: 100%;
    }
    .ConsumerLots .btnHolder {
        width: 520px;
    }
}