.Header {
  background-color: #10d48fe0; 
  width: 100%;
  display: flex;
}

.Header img {
  width: 120px;
  margin-left: 10%;
}

.Header span {
    margin-left: auto;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.Header button {
  margin: 25px 0 25px 15px;
  padding-left: 40px;
  padding-right: 40px;
  height: 50px;
  min-width: 50px;
  border: 1px solid rgb(58, 55, 55);
  border-radius: 30px;
  font-size: 1.5rem;
  background-color: #111111;
  color: #fff1f1;
}
