/* .Lots * {
  border-top: 1px solid black;
} */

.Lots {
  margin: 20px 40px 20px 40px;
  display: flex;
  box-shadow: 0 4px 8px 0 #204660;
  text-align: center;
  font-family: arial;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
  height: 200px;
}

.Lots .mainDiv{
  display: flex;
  height: 100%;
  width: 60%
}

.Lots .img {
  margin: 0 auto 0 15px;
  width: 200px;
  width: fit-content;
}

.Lots .textInf {
  margin: 25px auto auto auto;
  width: 400px;
  height: 100%;
  text-align: left;
}

.Lots .title {
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: auto;
  text-overflow: ellipsis;
}

.Lots .description {
  margin-top: auto;
  font-size: 1.8rem;
  text-overflow: ellipsis;
  overflow:hidden;
}

.Lots .digitInf {
  margin: 25px auto auto auto;
  width: 150px;
  height: 100%;
  text-align: left;
}

.Lots .price {
  color: grey;
  font-size: 2.5rem;
}

.Lots .count {
  color: grey;
  font-size: 1.8rem;
}

.Lots .buttons {
  margin: auto;
}

.Lots .button {
  height: 50px;
  min-width: 150px;
  border: 1px solid rgb(58, 55, 55);
  border-radius: 30px;
  font-size: 2rem;
  background-color: #111111;
  color: #fff1f1;
  display: block;
}
