.hr {
  margin: 5px auto 5px auto;
  width: 80%;
}

input {
  outline: none;
}

button{
  outline: none;
}

/* @media screen and (min-width: 1400px) {
  .App {
      width:1920px;
      margin:0 auto;
  }
} */